html, body {
  height: 100%;
  width: 100%;
  margin:0
}

#mapContainer {
  height: 100%;
  width: 100%;
  background: lightgray;
  margin: 0 auto;
}

#sidebar {
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  padding: 15px;
}

.title-box {
  text-align: center;
  top: 25px;
  left: 25px;
  z-index: 10;
  background-color: #ffffff;
  padding: 10px;
  padding-bottom: 1px;
  border-radius: 11px;
  box-shadow: 1px 1px 7px #525252;
  margin-bottom:15px
}

.info-box {
  top: 25px;
  left: 25px;
  z-index: 10;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 11px;
  box-shadow: 1px 1px 7px #525252;
  margin-bottom:15px
}

h3 {
  margin: 0 0 15px 0;
  font-size: 1rem;
}

button {
  padding: 10px;
  font-weight: 500;
  border-radius: 5px;
}

/* the side/popup panel */
.sidepanel {
  height: 500px; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 100px;
  background-color: #fff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: right 0.5s ease-in-out; /* 0.5 second transition effect to slide in the sidepanel */
  border-radius: 11px;
  box-shadow: 1px 1px 7px #525252;
  margin-bottom: 10px;
  margin-left: 1000px
}

/* the sidepanel close out x link */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color
-- for the close out x marker */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  position: fixed;
  top: 10px;
  right: 50px;
  cursor: pointer;
  background-color: #ffffff;
  color: black;
  padding: 10px 15px;
  border: 1px;
  border-radius: 11px;
  box-shadow: 1px 1px 7px #525252;
  margin-bottom:15px
}

/* change color of About button when hovering */
.openbtn:hover {
  background-color: #8dd3c7;
}


/* legend style */
.legend {
background-color: #ffffff;
color: black;
border-radius: 11px;
bottom: 20px;
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
padding: 15px 15px 10px;
position: auto;
right: 10px;
z-index: 1;
}

.legend h4 {
margin: 0 0 10px;
}

/* change the size of the legend points */
.legend div span {
border-radius: 50%;
display: inline-block;
height: 20px;
margin-right: 7px;
width: 20px;
}
